/******************************************************************

Stylesheet: Log In Form

******************************************************************/

#loginform {
	@extend .cf;
	font-family: $sans_serif;
	padding-bottom: 2em;
	width: 50%;

	input[type=text],
	input[type=password] {
		display: block;
		width: 100%;
	}

	.login-submit,
	.password-recover {
		float: left;
		margin: 1em 1em 0 0;
	}
}